#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-300780f9-cf63-40c5-8b84-9d7103beba21 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}