#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-57129d45-d655-4acf-ae9f-4da5cb87288d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}