#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_7 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_8 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_9 {
  rotation: 90.0;
  margin-left: 71px;
  margin-top: -72px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=3) ;
  filter: alpha(opacity=3) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) ;
  filter: alpha(opacity=12) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}