#s-5b14c588-d029-45fe-a615-6f8dae1300de > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_5 {
  position: absolute;
  width: 236px;
  height: 143px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_5 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_5 > svg {
  height: 143px;
  width: 236px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 {
  position: absolute;
  width: 236px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_28 span#rtr-s-Text_28_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 233px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 > .paddingLayer {
  height: 233px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_42 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_42 {
  position: absolute;
  width: 55px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_42 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_42 > svg {
  height: 55px;
  width: 55px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_145 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_145 {
  position: absolute;
  width: 51px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_145 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_145 > svg {
  height: 55px;
  width: 51px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_43 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_43 {
  position: absolute;
  width: 55px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_43 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_43 > svg {
  height: 55px;
  width: 55px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_146 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_146 {
  position: absolute;
  width: 51px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_146 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_146 > svg {
  height: 55px;
  width: 51px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 22.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 22.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 {
  position: absolute;
  width: 123px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 > .paddingLayer {
  height: 40px;
  width: 115px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 {
  position: absolute;
  width: 123px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.999999pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 > .paddingLayer {
  height: 40px;
  width: 115px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.999999pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.999999pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_14 span#rtr-s-Text_14_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 {
  position: absolute;
  width: 336px;
  height: 311px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 > .paddingLayer {
  height: 309px;
  width: 334px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Empty_screen {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FD6721;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 > .paddingLayer {
  height: 55px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_2 {
  position: absolute;
  width: 56px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_2 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_2 > svg {
  height: 54px;
  width: 56px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Square > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Square > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Circle > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Circle > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Triangle > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Triangle > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg {
  position: absolute;
  width: 0px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg > .paddingLayer {
  height: 0px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-signals > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_73 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_73 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_73 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_73 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 {
  position: absolute;
  width: 336px;
  height: 311px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 > .paddingLayer {
  height: 309px;
  width: 334px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 span {
  color: #FF0000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_15 span#rtr-s-Text_15_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 {
  position: absolute;
  width: 213px;
  height: 591px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 > .paddingLayer {
  height: 591px;
  width: 213px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_21 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_21 {
  position: absolute;
  width: 51px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_21 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_21 > svg {
  height: 51px;
  width: 51px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_6 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_6 {
  position: absolute;
  width: 51px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_6 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_6 > svg {
  height: 46px;
  width: 51px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_56 > svg {
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_56 {
  position: absolute;
  width: 51px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_56 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_56 > svg {
  height: 47px;
  width: 51px;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 {
  position: absolute;
  width: 64px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 > .clipping, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Text_23 span#rtr-s-Text_23_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_1 {
  position: absolute;
  width: 57px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_1 > img, #s-5b14c588-d029-45fe-a615-6f8dae1300de #s-Image_1 > svg {
  height: 53px;
  width: 57px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5b14c588-d029-45fe-a615-6f8dae1300de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}