#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}