#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-750ec841-d247-48bb-9d0f-697087615d7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}