#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-758e3708-013b-4ea7-9481-2d8d286f03f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}