#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_146 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 138px;
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 138px;
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 25px;
  width: 84px;
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-checkbox {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Rectangle_4 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Line_1 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Line_1 {
  stroke-width: 4px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}