#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-800bed0d-187d-4693-be12-07ed7db86989 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}