#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}