#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}