#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_7 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_8 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_9 {
  rotation: 90.0;
  margin-left: 71px;
  margin-top: -72px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=3) ;
  filter: alpha(opacity=3) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) ;
  filter: alpha(opacity=12) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8522cd46-968e-45cc-9f2f-ea90ffcff248 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}