#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-87273c32-4148-4b55-839c-05b1598c8ab8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}