#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_7 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_8 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_9 {
  rotation: 90.0;
  margin-left: 71px;
  margin-top: -72px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=3) ;
  filter: alpha(opacity=3) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_15 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_16 {
  rotation: 90.0;
  margin-left: 72px;
  margin-top: -72px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_17 {
  rotation: 90.0;
  margin-left: 71px;
  margin-top: -72px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=3) ;
  filter: alpha(opacity=3) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) ;
  filter: alpha(opacity=12) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}