#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}