#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 40px;
  width: 115px;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_2 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Line_2 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 42px;
  width: 118px;
  -ms-transform: rotate(0.0deg);
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 42px;
  width: 118px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a9a4675b-4612-432c-9cad-21366ed0b5ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}