#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}