#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Square {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Circle {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Triangle {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Bg {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-hour {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-signals {
  -ms-transform: rotate(0.0deg);
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}