#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 #t-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}