#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) ;
  filter: alpha(opacity=12) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-22d415b2-6b73-4d20-b61b-783a6abe7e72 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}