<html>
  <body>
    <div class="ui-page" deviceName="androidPhone" deviceType="mobile" deviceWidth="360" deviceHeight="640">
         <div id="t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="Basic screen" width="360" height="640">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/1babaf92-7ebb-4e83-90a9-b2b376b7c7f7-1553717316473.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/1babaf92-7ebb-4e83-90a9-b2b376b7c7f7-1553717316473-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/1babaf92-7ebb-4e83-90a9-b2b376b7c7f7-1553717316473-ie8.css" /><![endif]-->
           <div id="t-Image_72" class="pie image firer ie-background commentable non-processed"   datasizewidth="24px" datasizeheight="24px" dataX="12" dataY="38"   alt="image" systemName="./images/e6bf6f05-af1c-45b2-bf84-ec8df4d12071.svg" overlay="#000000">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>