<html>
  <body>
    <div class="ui-page" deviceName="androidPhone" deviceType="mobile" deviceWidth="360" deviceHeight="640">
         <div id="t-1babaf92-7ebb-4e83-90a9-b2b376b7c7f7" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="Basic screen" width="360" height="640">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/1babaf92-7ebb-4e83-90a9-b2b376b7c7f7-1552630737929.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/1babaf92-7ebb-4e83-90a9-b2b376b7c7f7-1552630737929-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/1babaf92-7ebb-4e83-90a9-b2b376b7c7f7-1552630737929-ie8.css" /><![endif]-->
           <div id="t-Empty_screen" class="group firer ie-background commentable non-processed" datasizewidth="360px" datasizeheight="640px" dataX="0" dataY="0" >
             <div id="t-Rectangle_2" class="pie rectangle firer commentable non-processed"   datasizewidth="360px" datasizeheight="55px" dataX="0" dataY="22" >
              <div class="backgroundLayer"></div>
              <div class="paddingLayer">
                <div class="clipping">
                  <div class="content">
                    <div class="valign">
                      <span id="rtr-t-Rectangle_2_0"></span>
                    </div>
                  </div>
                </div>
              </div>
             </div>

             <div id="t-Image_2" class="pie image firer click ie-background commentable non-processed"   datasizewidth="56px" datasizeheight="54px" dataX="152" dataY="22"   alt="image">
                 <img src="./images/836379d6-4b5a-4519-9e40-83ba8abcd9bd.jpg" />
             </div>
             <div id="t-Softkeys-bg" class="pie percentage rectangle firer commentable pin vpin-end hpin-center non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="48px" dataX="0" dataY="0" >
              <div class="backgroundLayer"></div>
              <div class="paddingLayer">
                <div class="clipping">
                  <div class="content">
                    <div class="valign">
                      <span id="rtr-t-Softkeys-bg_0"></span>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div id="t-Square" class="pie image lockV firer ie-background commentable pin vpin-end hpin-end non-processed-pin non-processed"   datasizewidth="15px" datasizeheight="15px" dataX="74" dataY="17" aspectRatio="1.0"   alt="image" systemName="./images/27559be8-5d50-47f0-9515-129dbee286ba.svg" overlay="#FFFFFF">
                 <?xml version="1.0" encoding="UTF-8"?>
                 <svg preserveAspectRatio='none' width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                     <!-- Generator: Sketch 49.2 (51160) - http://www.bohemiancoding.com/sketch -->
                     <title>recent</title>
                     <desc>Created with Sketch.</desc>
                     <defs></defs>
                     <g id="t-Square-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                         <g id="Bars/Navbar-360dp-black" transform="translate(-273.000000, -16.000000)" fill="#FFFFFF">
                             <g id="t-Square-Group-3" transform="translate(231.000000, 0.000000)">
                                 <rect id="t-Square-recent" x="42" y="16" width="16" height="16" rx="1"></rect>
                             </g>
                         </g>
                     </g>
                 </svg>
             </div>
             <div id="t-Circle" class="pie image lockV firer ie-background commentable pin vpin-end hpin-center non-processed-pin non-processed"   datasizewidth="18px" datasizeheight="18px" dataX="0" dataY="15" aspectRatio="1.0"   alt="image" systemName="./images/6ffc185e-0495-4c20-9b36-9feefa2dcbdf.svg" overlay="#FFFFFF">
                 <?xml version="1.0" encoding="UTF-8"?>
                 <svg preserveAspectRatio='none' width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                     <!-- Generator: Sketch 49.2 (51160) - http://www.bohemiancoding.com/sketch -->
                     <title>home</title>
                     <desc>Created with Sketch.</desc>
                     <defs></defs>
                     <g id="t-Circle-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                         <g id="Bars/Navbar-360dp-black" transform="translate(-170.000000, -14.000000)">
                             <g id="t-Circle-Group-4" transform="translate(130.000000, 0.000000)">
                                 <g id="t-Circle-home" transform="translate(40.000000, 14.000000)">
                                     <circle fill="#FFFFFF" fill-rule="evenodd" cx="10" cy="10" r="6"></circle>
                                     <circle stroke="#FFFFFF" stroke-width="2" cx="10" cy="10" r="9"></circle>
                                 </g>
                             </g>
                         </g>
                     </g>
                 </svg>
             </div>
             <div id="t-Triangle" class="pie image lockV firer click ie-background commentable pin vpin-end hpin-beginning non-processed-pin non-processed"   datasizewidth="15px" datasizeheight="15px" dataX="76" dataY="17" aspectRatio="1.0"   alt="image" systemName="./images/2e0cf8df-57bc-44f9-8078-10ef9be9e615.svg" overlay="#FFFFFF">
                 <?xml version="1.0" encoding="UTF-8"?>
                 <svg preserveAspectRatio='none' width="15px" height="17px" viewBox="0 0 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                     <!-- Generator: Sketch 49.2 (51160) - http://www.bohemiancoding.com/sketch -->
                     <title>back</title>
                     <desc>Created with Sketch.</desc>
                     <defs></defs>
                     <g id="t-Triangle-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                         <g id="Bars/Navbar-360dp-black" transform="translate(-72.000000, -15.000000)" fill="#FFFFFF">
                             <g id="t-Triangle-Group-2" transform="translate(29.000000, 0.000000)">
                                 <path d="M56.2719481,15.2473593 C57.2263246,14.695639 57.9999997,15.1409225 57.9999997,16.2463373 L58,30.7555624 C58,31.859003 57.2280325,32.3072478 56.2719485,31.7545403 L43.7227789,24.4999276 C42.7684024,23.9482072 42.7666949,23.0546789 43.7227789,22.5019715 L56.2719481,15.2473593 Z" id="t-Triangle-back"></path>
                             </g>
                         </g>
                     </g>
                 </svg>
             </div>
             <div id="t-Bg" class="pie percentage label singleline firer commentable pin vpin-beginning hpin-beginning non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="22px" dataX="0" dataY="0" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-Bg_0"> </span></div></div></div></div>
             <div id="t-Status-bar" class="group firer ie-background commentable non-processed" datasizewidth="360px" datasizeheight="20px" dataX="0" dataY="0" >
               <div id="t-Bg_status" class="pie percentage rectangle firer commentable pin vpin-beginning hpin-beginning non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="20px" dataX="0" dataY="0" >
                <div class="backgroundLayer"></div>
                <div class="paddingLayer">
                  <div class="clipping">
                    <div class="content">
                      <div class="valign">
                        <span id="rtr-t-Bg_status_0"><br /></span>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
               <div id="t-hour" class="pie label singleline firer ie-background commentable pin vpin-beginning hpin-beginning non-processed-pin non-processed"   datasizewidth="46px" datasizeheight="20px" dataX="0" dataY="0" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-hour_0">15:45</span></div></div></div></div>

               <div id="t-signals" class="pie image firer ie-background commentable pin vpin-beginning hpin-end non-processed-pin non-processed"   datasizewidth="61px" datasizeheight="20px" dataX="8" dataY="0"   alt="image">
                   <img src="./images/7d6a5e10-f410-4793-9bd8-74d27eb980f1.png" />
               </div>
             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>