#m-03281c4b-aacf-4f6b-af84-6096bf4ddddb #m-03281c4b-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-03281c4b-aacf-4f6b-af84-6096bf4ddddb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}