#m-03281c4b-aacf-4f6b-af84-6096bf4ddddb #m-03281c4b-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-03281c4b-aacf-4f6b-af84-6096bf4ddddb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}